spacy
torch
imageio
pygifsicle
imutils
pythonRLSA
scikit-image
imagehash
ipykernel
pandas
pytesseract
torchvision
pytorch_lightning
efficientnet_pytorch
scikit-learn
symspellpy
sentence_transformers
sumy
sox
SpeechRecognition
webvtt-py
pydub
vosk
google-api-python-client
webrtcvad
